@import "../style.css";

/* Post search */

.post-search-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
}
  
.post-search-wrapper input {
    min-width: 225px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-searchbox-border);
    background-color: var(--color-searchbox-background);
    padding: 5px 10px;
}

.post-search-wrapper ::placeholder { 
    color: var(--color-text-prompt);
}

.post-search-wrapper input:focus {
    background-color: var(--color-searchbox-background-focus);
    outline-color: var(--color-searchbox-outline-focus);
}
  
.post-count-wrapper {
    display: flex;
}
      
.post-count {
    margin-left: 1rem;
}
    